{% load cms_tags menu_tags sekizai_tags %}
{%load static %}
<div class="container-fluid">
    <div class="row mt-3 diary-card">
        <h3>Agenda</h3>
        <div class="col-lg">
            <span class="img-inside-text">
                <span class="text-img mt-2">HOLA COMO ESTÁS AMIGO</span>
                <img src="https://www.aerocivil.gov.co/Style%20Library/CEA/img/img.jpg" alt="" class="img-fluid">
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta vero similique quo, fuga tempore dolores enim excepturi,</p>
        </div>
        <div class="col-lg">
            <span class="img-inside-text">
                <span class="text-img mt-2">HOLA COMO ESTÁS AMIGO</span>
                <img src="https://www.aerocivil.gov.co/Style%20Library/CEA/img/img.jpg" alt="" class="img-fluid">
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta vero similique quo, fuga tempore dolores enim excepturi,</p>
        </div>
        <div class="col-lg">
            <span class="img-inside-text">
                <span class="text-img mt-2">HOLA COMO ESTÁS AMIGO</span>
                <img src="https://www.aerocivil.gov.co/Style%20Library/CEA/img/img.jpg" alt="" class="img-fluid">
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta vero similique quo, fuga tempore dolores enim excepturi,</p>
        </div>
        <div class="col-lg">
            <div class="py-2 text-white text-center links-card">
                FRASE DEL DÍA
            </div>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis et est pariatur dignissimos sapiente obcaecati necessitatibus tempora sed eligendi molestiae nesciunt sunt, totam provident. Est, iure. Provident officiis aperiam illo.</p>
        </div>
    </div>
</div>