{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<footer class="gov-co-footer">
    <div class="gov-co-footer-presetacion">
       <div class="gov-co-footer-autoridad" >
         <div class="footer-img">
            <div class="container-fluid">
               <div class="row">
                  <div class="col">
                    <div class="gov-co-footer-auto">
                       <img class="img-fluid gov-co-logo-opita-corazon" src="{% static '/assets/img/cam_logo.png' %}" alt="" srcset="" />
                       <img class="img-fluid gov-co-logo-opita-corazon" src="{% static 'assets/img/huila.png' %}" alt="" srcset="" />
                       <img class="img-fluid gov-co-logo-opita-corazon" src="{% static 'assets/img/opita_de_corazn_logo.png' %}" alt="" srcset="" />
                    </div>
                  </div>
               </div>
            </div>
         </div>
          <div class="footer-presentacion">
             <div class="container-fluid">
                <div class="row">
                  <div class="col">
                     <h5 class="titulo-sede-gov-co">Corporación Autónoma del Alto Magdalena</h5>
                  </div>
                </div>
                <div class="row">
                   <div class="col">
                     <h5 class="sub-titulo-sede-gov-co">Sede principal</h5>
                      <div class="contenido-sede-gov-co gov-detalles">
                         <p>Dirección: Carrera 1 No. 60-79 Neiva - Huila</p>
                         <h6>Horario de Atención: </h6>
                          <p>Direccion General: Jueves 8:00 - 11:00 am</p>
                          <p>Otras Dependencias: Lunes a Viernes 7:00 a 11:00 am y de 1:30 a 5:00 pm</p>
                         <p>Teléfono Conmutador: (608) 86644654</p>

                         <p>Correo Institucional: camhuila@cam.gov.co</p>
                         <p>Correo para citas con el director: lcastro@cam.gov.co</p>
                          <p>Correo para notificaciones judiciales: notificacionesjudiciales@cam.gov.co</p>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                      <div class="gov-co-redes-sociales">
                         <a class="gov-co-link-presentacion" [routerLink]="">
                            <span class="govco-icon govco-icon-twiter-cp"></span>
                            @ENTIDAD
                         </a>
                         <a class="gov-co-link-presentacion" [routerLink]="">
                            <span class="govco-icon govco-icon-instagram-cp"></span>
                            @ENTIDAD
                         </a>
                         <a class="gov-co-link-presentacion" [routerLink]="">
                            <span class="govco-icon govco-icon-facebook-cp"></span>
                            @ENTIDAD
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>

          <div class="footer-sedes">
             <div class="container-fluid">
                <div class="row">
                   <div class="col gov-detalles">
                      <h5 class="sub-titulo-sede-gov-co">Sede 2</h5>
                      <p>Dirección: xxxxxx xxx xxx Departamento y Municipio</p>
                      <p>Horario de Atención: Lunes a Viernes xx:xx am - xx:xx pm</p>
                   </div>
                </div>
                <div class="row h-gov-co">
                   <div class="col gov-detalles">
                      <h5 class="sub-titulo-sede-gov-co">Sede 2</h5>
                      <p>Dirección: xxxxxx xxx xxx Departamento y Municipio</p>
                      <p>Horario de Atención: Lunes a Viernes xx:xx am - xx:xx pm</p>
                   </div>
                </div>
                <div class="row h-gov-co">
                   <div class="col gov-detalles">
                      <h5 class="sub-titulo-sede-gov-co">Sede 2</h5>
                      <p>Dirección: xxxxxx xxx xxx Departamento y Municipio</p>
                      <p>Horario de Atención: Lunes a Viernes xx:xx am - xx:xx pm</p>
                   </div>
                </div>

             </div>
          </div>
          <div class="footer-contactos">
             <div class="container-fluid">
                <div class="row">
                   <div class="col gov-detalles">
                      <h5 class="sub-titulo-sede-gov-co">Contacto</h5>
                      <p>Teléfono Conmutador: +57(xx) xxx xx xx</p>
                      <p>Correo Institucional: ministerio@ministerio.gov.co</p>
                   </div>
                </div>
                <div class="row h-gov-co">
                   <div class="col gov-detalles">
                      <h5 class="sub-titulo-sede-gov-co">Contacto</h5>
                      <p>Teléfono Conmutador: +57(xx) xxx xx xx</p>
                      <p>Correo Institucional: ministerio@ministerio.gov.co</p>
                   </div>
                </div>
                <div class="row h-gov-co">
                   <div class="col gov-detalles">
                      <h5 class="sub-titulo-sede-gov-co">Contacto</h5>
                      <p>Teléfono Conmutador: +57(xx) xxx xx xx</p>
                      <p>Correo Institucional: ministerio@ministerio.gov.co</p>
                   </div>
                </div>
                <div class="row">
                  <div class="col">
                      <img class="img-fluid gov-co-logo-pie-mesa" src="https://cdn.www.gov.co/v3/assets/images/colombiaco_Mesa%20de%20trabajo%201.png" alt="" srcset="" />
                      <img class="img-fluid gov-co-logo-pie-blanco" src="https://cdn.www.gov.co/v3/assets/images/logo.svg" alt="" srcset="" />
                  </div>
               </div>
             </div>
          </div>
          <div class="footer-politicas">
             <div class="container-fluid">
                <div class="row p-0">
                   <div class="col p-0">
                      <div class="gov-co-politicas">
                         <a class="goc-co-link-poli" [routerLink]="">Políticas</a>
                         <a class="goc-co-link-poli" [routerLink]="">Mapa del sitio</a>
                         <a class="goc-co-link-poli" [routerLink]="">Términos y condiciones</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="gov-co-footer-pie">
       <div class="gov-co-footer-auto">
         © CAM 2021. TODOS LOS DERECHOS RESERVADOS.
       </div>
    </div>
 </footer>