{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<footer class="gov-co-footer">
    <div class="gov-co-footer-presetacion">
        <div class="gov-co-footer-autoridad">
            <div class="footer-img">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="gov-co-footer-auto">
                                <img class="img-fluid gov-co-logo-opita-corazon"
                                     src="{% static '/assets/img/cam_logo.png' %}" alt="" srcset=""/>
                                <img class="img-fluid gov-co-logo-opita-corazon"
                                     src="{% static 'assets/img/huila.png' %}" alt="" srcset=""/>
                                <img class="img-fluid gov-co-logo-opita-corazon"
                                     src="{% static 'assets/img/opita_de_corazn_logo.png' %}" alt="" srcset=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-presentacion">
                <div class="container">
                    <div class="container mb-4">
                        <h5 class="titulo-sede-gov-co">Corporación Autónoma del Alto Magdalena</h5>
                    </div>
                    <div class="container">
                        <h6 class="sub-titulo-sede-gov-co fw-bold">Sede principal</h6>
                        <div class="contenido-sede-gov-co gov-detalles">
                            <label class="mb-4 text-dark">Dirección: Carrera 1 No. 60-79 Neiva - Huila</label>
                            <h6 class="fw-bold text-dark">Horario de Atención: </h6>
                            <label class="text-dark">Direccion General: Jueves 8:00 - 11:00 am</label>
                            <label class="text-dark">Otras Dependencias: Lunes a Viernes 7:00 a 11:00 am y de 1:30 a
                                5:00 pm</label>
                            <label class="mb-4 text-dark">Teléfono Conmutador: (608) 86644654</label>
                            <label class="mb-4 text-dark">Correo corporativo <br> camhuila@cam.gov.co</label>
                            <label class="mb-4 text-dark">Correo para citas con el Director<br>
                                lcastro@cam.gov.co</label>
                            <label class="mb-4 text-dark">Correo para notificaciones judiciales<br>
                                notificacionesjudiciales@cam.gov.co</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-sedes">
                <div class="container-fluid">
                    <div class="row h-gov-co">
                        <div class="col gov-detalles mb-5">
                            <h6 class="sub-titulo-sede-gov-co fw-bold">Sede Teruel: Centro de Atención y Valoración de
                                fauna Silvestre</h6>
                            <label class="text-dark">Dirección: Predio San Rafael, Vereda Primavera</label>
                        </div>
                    </div>
                    <div class="row h-gov-co">
                        <div class="col gov-detalles mb-5">
                            <h6 class="sub-titulo-sede-gov-co fw-bold">Sede Garzón</h6>
                            <label class="text-dark">Dirección: Carrera 4A no. 4-46</label>
                            <label class="text-dark">Teléfono: (608) 8332444</label>
                        </div>
                    </div>
                    <div class="row h-gov-co">
                        <div class="col gov-detalles mb-5">
                            <h6 class="sub-titulo-sede-gov-co fw-bold">Sede La Plata</h6>
                            <label class="text-dark">Dirección: Calle 5 No. 5-44</label>
                            <label class="text-dark">Teléfono: (608) 8370080</label>
                        </div>
                    </div>
                    <div class="row h-gov-co">
                        <div class="col gov-detalles mb-5">
                            <h6 class="sub-titulo-sede-gov-co fw-bold">Sede Pitalito</h6>
                            <label class="text-dark">Dirección: Finca Marengo Kilometro 4 vía Pitalito - San
                                Agustín</label>
                            <label class="text-dark">Teléfono: (608) 8354422</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-contactos d-grid">
                <div class="row mb-5">
                    <div class="col gov-detalles">
                        <h5 class="sub-titulo-sede-gov-co">Redes sociales</h5>
                        <a class="goc-co-link-poli">@CAMHUILA</a><br>
                        <a class="goc-co-link-poli">@CAM_HUILA</a><br>
                        <a class="goc-co-link-poli">@CAMHUILA</a><br>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col gov-detalles">
                        <h5 class="sub-titulo-sede-gov-co">Enlaces de interés</h5>
                        <a class="goc-co-link-poli text-dark">Politicas</a><br>
                        <a class="goc-co-link-poli text-dark">Mapa del Sitio</a><br>
                        <a class="goc-co-link-poli text-dark">Términos y condiciones</a><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="bb-dark-success-gov bt-dark-success-gov">
                                <img class="img-fluid gov-co-logo-pie-mesa"
                                     src="https://cdn.www.gov.co/v3/assets/images/colombiaco_Mesa%20de%20trabajo%201.png"
                                     alt="co-colombia-log" width="60" height="60"/>
                                <img class="img-fluid gov-co-logo-pie-blanco bg-light" width="250" height="100"
                                     src="https://cdn.www.gov.co/v3/assets/images/logo.svg" alt="gov-p-co-log"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gov-co-footer-pie bg-gov-base">
        <div class="gov-co-footer-auto">
            © CAM 2021. TODOS LOS DERECHOS RESERVADOS.
        </div>
    </div>
</footer>