{% load cms_tags menu_tags sekizai_tags %}
{%load static %}

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h3>Noticias</h3>
            <img class="img-fluid" src="https://www.aerocivil.gov.co/Style%20Library/CEA/img/img.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta vero similique quo, fuga tempore dolores enim excepturi, labore perspiciatis, nulla provident obcaecati perferendis a dolore laudantium odit nostrum quisquam qui.</p>
            <img class="img-fluid" src="https://www.aerocivil.gov.co/Style%20Library/CEA/img/img.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta vero similique quo, fuga tempore dolores enim excepturi, labore perspiciatis, nulla provident obcaecati perferendis a dolore laudantium odit nostrum quisquam qui.</p>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary">Ver más</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="sidebar card-menu">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Noticias</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>
                    <li>
                        <a href="">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
            <div class="mt-5 sidebar card">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Noticias</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>
                    <li>
                        <a href="">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
