{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
    <nav class="navbar navbar-expand-lg barra-superior-govco" aria-label="Barra superior">
      <div class="container-fluid">
        <a href="https://www.gov.co/home/" target="_blank" aria-label="Portal del Estado Colombiano - GOV.CO">
          <div class="icon-barra-superior-govco" tabindex="-1">
          </div>
        </a>
        <button class="icon-barra-superior-idioma float-right" aria-label="Button to change the language of the page to English">
        </button>
      </div>
    </nav>