{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<nav class="navbar-gov-co">
   <div class="navbar-gov-co-pri container-fluid">
      <div class="row align-items-center">
         <div class="col">
            <a class="navbar-brand" href="https://www.gov.co/home" target="blank">
               <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
            </a>
         </div>
         <div class="col text-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible"
               aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
               <span class="govco-icon govco-icon-language-en-n"></span>
            </button>
         </div>
      </div>
   </div>
</nav>